@model ShopGiay.Models.MAUSAC

@{
    ViewBag.Title = "Trang chi tiết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TRANG CHI TIẾT</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên màu sắc:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENMAUSAC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MAMAUSAC }) |
    @Html.ActionLink("Quay lại trang quản lý", "Index")
</p>
