
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ThongBao</h2>
<h2>Số Lượng Giày Bạn Muốn Xóa Đã Vượt Quá Số Lượng Trong Kho Xin Vui Lòng Nhập Lại Số Lượng</h2>
<p>
    @Html.ActionLink("VỀ KHO HÀNG", "index", "KhoHang")
</p>
