@foreach (var item in Model)
{
    <label for="swatch-0-37" class="sd">
        @item.TENKICHTHUOC
        <img class="crossed-out" src="">
        <img class="img-check" src="~/img/select-pro5eef.png">
    </label>
}
