@model ShopGiay.Models.QuenMKModel

@{
    ViewBag.Title = "QuenMK";
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Biểu mẫu đặt lại mật khẩu </title>
    <link href="~/Content/resetpassword/css/style1.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!--google fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="~/img/4.png" type="image/png" />
</head>
<body>
    <!--element start here-->
    <div class="elelment">
        <h2>ĐẶT LẠI MẬT KHẨU</h2>
        <div class="element-main">
            <h1>Quên Mật Khẩu</h1>
            <p> Vui lòng nhập email để khôi phục mật khẩu của bạn!</p>
            @using (Html.BeginForm("QuenMK", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })              
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "E-mail của bạn" })
                <input type="submit" value="Gửi" class="btn btn-default" />
            }
            @*<form>
            <input type="text" value="Your e-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your e-mail address';}">
            <input type="submit" value="Reset my Password">
        </form>*@
        </div>
    </div>
    

    <!--element end here-->
</body>
</html>

