@model ShopGiay.Models.THUONGHIEU

@{
    ViewBag.Title = "Trang chi tiết thương hiệu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>TRANG CHI TIẾT THƯƠNG HIỆU CỦA 1 SẢN PHẨM</h1>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Thương Hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTH)
        </dd>

        <dt>
           Logo Thương Hiệu:
        </dt>

        <dd>           
            <img src="@Url.Content("~/img/"+@Model.LOGO)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MATH }) |
    @Html.ActionLink("Quay lại trang quản lý thương hiệu", "Index")
</p>
