@model ShopGiay.Models.HINH

@{
    ViewBag.Title = "Trang chi tiết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TRANG CHI TIẾT HÌNH</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label><strong>Tên Giày:</strong></label><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAY.TENGIAY)
        </dd>
        <dt>
            <label><strong>Hình Ảnh:</strong></label><br />
        </dt>

        <dd>
            <img src="@Url.Content("~/img/"+  Model.HINH1)" width="120px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Quay lại trang quản lý", "Index")
</p>
