@media only screen and (max-width:515px) {

    .wrap {
        width: 90%;
        margin: auto;
    }

    .left {
        width: auto;
        position: relative;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        padding: 0;
        padding-top: 30px;
        padding-bottom: 20px;
        min-height: 0;
        color: #fff;
    }

    .logo {
        margin: 0;
        margin-left: -10px;
    }

    .social {
        position: static;
        margin-top: 60px;
        height: 19px;
    }

    .search {
        position: relative;
        top: auto;
        left: auto;
        display: block;
        margin-top: 70px;
    }

    .box {
        width: 100%;
        margin-left: 0;
    }
}


@media only screen and (max-width:320px) {

    .wrap {
        width: 85%;
    }
}
